*.json
!composer.json
*.txt
.phpunit.result.cache
**/old/**
/pub_reports
/reports
/src/reports
/vendor
composer.lock
fix_refs_repo1
fix_refsx
publish_reports/_index.php
publish_reports/db.py
publish_reports/index2.php
publish_reports/reports
pup2.html
src/bots/new_x.php
*copy.php
src/pup2.html
src/test.php
src/tx.php
test.php
publish_reports_data/db.py
publish_reports_data/reports/db.py
publish_reports_data/reports/plan.md
*.zip
load_env.php
/.phpunit.cache
/build/coverage-html
/.commandcode
